*body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h1{
    text-align: center;
    align-items: center;
    font-weight: 100;
    margin-right: 250px;
}
h3{
    text-align: center;
}
.overlay{
    background-image: url(./assets/backgrounds/1.jpg);
    padding:200px;
    color: whitesmoke;
    font-weight: bold;
    height: 0px;
    text-align: center;
}
